---
layout: page
title: "About"
description: "All life is a game of luck"
header-img: "img/about-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<!-- Japanese Version -->-->
<!--<div class="ja post-container">-->
<!--    {% capture about_ja %}{% include about/ja.md %}{% endcapture %}-->
<!--    {{ about_ja | markdownify }}-->
<!--</div>-->
<h2><strong>Contact me</strong></h2>

<blockquote>
  <p>Email：haodongzhang1228 AT gmail.com</p>
  
</blockquote>

<link rel="stylesheet" href="//unpkg.com/gitalk/dist/gitalk.css">
<script src="//unpkg.com/docsify/lib/plugins/gitalk.min.js"></script>
<script src="//unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
    const gitalk = new Gitalk({
        // 这个需要在github上申请一个OAuth application
        clientID: 'baa45923aaf0a5f19348',   // GitHub Application Client ID
        clientSecret: '14f3157d842a79bca1c7539b26c66c5f519f7323',   // GitHub Application Client Secret
        repo: 'issues', // //存储你评论 issue 的 Github 仓库名
        owner: 'haodong1228',
        admin: ['haodong'],    // 这个仓库的管理员
        distractionFreeMode: true,  // 是否添加全屏遮罩
        id: window.location.pathname    // 页面的唯一标识，gitalk 会根据这个标识自动创建的issue的标签,我们使用页面的相对路径作为标识
    })
    gitalk.render('gitalk-container');    // 渲染Gitalk评论组件
</script>
