---
layout: page
title: "About"
description: "All life is a game of luck"
header-img: "img/about-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<!-- Japanese Version -->-->
<!--<div class="ja post-container">-->
<!--    {% capture about_ja %}{% include about/ja.md %}{% endcapture %}-->
<!--    {{ about_ja | markdownify }}-->
<!--</div>-->
<h2><strong>Contact me</strong></h2>

<blockquote>
  <p>Email：haodongzhang1228 AT gmail.com</p>
  
</blockquote>


